<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
           <p class='err'>{{error}}</p> 
        {% endfor %}
    {% endif %}
    <form action="" method='POST' novalidate>
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} <br><br> <span style='color: red ;'>{{fm.errors|striptags}} </span> <br>
        {% endfor %}

        <input type="submit" value='Change'>
    </form>

    <br><br>
    <a href="{% url "logout" %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/profile">Profile</a>

</body>
</html>