<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p  {% if message.tags %} class='{{message.tags}}' {% endif %}> {{message}}  </p>
        {% endfor %} 
    {% endif %}
    <h2>hii... {{request.user}}</h2>

    <br><br><br><br><br><br><br>
    <a href="{% url "logout" %}">logout</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url "changepass" %}">Change Password</a>
</body>
</html>