{% extends "blog/base.html" %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class=' m-3'>About Page</h3>
        <div class='jumbotron '>

            <h3>this is About page</h3>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae praesentium aperiam nisi sint ipsam provident possimus aliquam accusamus iste ab recusandae enim dolorem, voluptates consectetur illum inventore rem, nihil deserunt porro. Voluptas sequi, in aperiam provident quidem quibusdam excepturi enim sint labore explicabo expedita illo cum harum repellat ea impedit aliquid! Blanditiis, suscipit. Dolore, ab excepturi?</p>
        </div>
    </div>

{% endblock content %}
