{% extends "blog/base.html" %}
{% load static %}





{% block content %}

{% if messages %}
    {% for msg in messages %}
    <div {% if msg %} class="alert alert-{{msg.tags}} alert-dismissible fade show text-center" {% endif %} role="alert">
        <strong> {{msg}} </strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
{% endif %}



{% for err in form.non_field_errors %}
<p class='alert alert-danger'> {{err}} </p>
{% endfor %}
    <div class='col-sm-8 mx-auto shadow my-4 p-0 border'>
        <div class='h4 form-header mx-0 p-4 text-center text-white'>Dashboard / New Post</div>
        <form  class='px-5' method='POST' novalidate >
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group text-white">
                {{fm.label_tag}} {{fm}} <small class='text-warning'>{{fm.errors|striptags}}</small><br> 
            </div>
            {% endfor %} 
            <div class='text-end px-3'>
                <input class='btn btn-dark mb-4' type="submit" value='Upload'>
            </div>
        </form>
    </div>
    <div class='text-center'>

        <a href='{% url "dashboard"  %}' class=' button-33'> Dashboard </a>
    </div>
{% endblock content %}

