{% extends 'enroll/base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 mx-auto p-4 shadow' >
        <h5 class='text-center alert alert-primary'>Add New Student</h5>
        <form action="" method='post' class=' mx-auto '>
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag }}  {{fm}} 
            {% endfor %}
            <br>
            <div class='text-end px-4'>
                <input type="submit" class='btn btn-primary btn-sm ' value='submit'>
            </div>
            
        </div>
        <div class='col-sm-8 mx-auto p-4 shadow'>
            <h5 class='text-center alert alert-info'>All Student Information</h5>
            
        {% if stud %}
            <table class="table table-hover ">
            <thead>
                <tr class='table-secondary'>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                  <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stu in stud %}
                    
                        <tr>
                            <th scope="row">{{ stu.id }}</th>
                            <td>{{stu.name}}</td>
                            <td>{{stu.email}}</td>
                            <td>{{stu.password}}</td>
                            <td> 
                                <a href="{% url "updatedata" stu.id %}" class='btn btn-warning btn-sm'>Edit</a>
                                <form action='{% url "deletedata" stu.id %}' method='POST' class='d-inline'>
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class='btn btn-danger btn-sm'>
                                </form>
                            </td>
                        </tr>   
                {% endfor %}
            </tbody>
            </table>
        {% else %}
            
            <h5 class='text-center  text-warning'>No Record found</h5>
        {% endif %}
            
    </div>
    </form>
</div>
{% endblock content %}