<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .errorlist{
            color: red;
            font-size: smaller;
            list-style-type: none;
            text-align: left;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h2 style="text-align: center;">This is Custom error / Style error page</h2>
    <div style="text-align: center; border: 1px solid blue; padding: 20px 20px; width:400px; margin:auto;"  >
        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for fm in form %}
            <div>
                {{fm.label_tag}}  {{fm}} 
                
                <!-- <span class="errorlist">{{fm.errors|striptags}}</span>  -->
                {% for err in fm.errors %}
                    <span class="errorlist"> {{err}} </span> 
                {% endfor %}
            </div><br>
            {% endfor %}
            <!-- {{form}} -->
            <input type="submit" value:"Submit">
        </form>
    </div>
</body>
</html>