{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="course">Html</div>
    <div class="course">Css</div>
    <div class="course">Js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
    <div class="course">Node.js</div>
</div>
{% endblock content %}
